.product-video{
    width:100%;
    padding:0;
    background:#fff;
}

.video-wrapper{
   width: 100%;
    height: 700px;   /* apne section ke hisaab se */
    overflow: hidden;
    /* background: #000; */
     aspect-ratio: 16 / 9;
}

.background-video{
   width: 100%;
    height: 100%;
    object-fit: contain;   /* cover ki jagah contain */
    display: block;
    cursor:pointer;
}

.background-video:focus-visible{
    outline:3px solid #1E4ED8;
    outline-offset:-3px;
}

/* Responsive */

@media(max-width:992px){

    .video-wrapper{
        height:500px;
    }

}

@media(max-width:768px){

    .video-wrapper{
        height:380px;
    }

}

@media(max-width:480px){

    .video-wrapper{
        height:260px;
    }

}
